---
import ContentSlider from '../components/content-slider.astro';
import CardDegrer from '../components/templates/card-degrer.astro';
import CardJob from '../components/templates/card-job.astro';
import CardProject from '../components/templates/card-project.astro';
import Layout from '../layouts/Layout.astro';
import * as Icon from '@astropub/icons';
import { academic, projects, work } from '../static/projects';

import Mixpanel from 'mixpanel';

var mixpanel = Mixpanel.init('f83a95d0b220b777f596f74b1903abdc');

// Note: you must supply the user_id who performed the event in the `distinct_id` field
const referrer = Astro.request.headers.get('Referer');
mixpanel.track('server_sends_index', {
    referrer
});
---

<Layout>
    <div class="text-xs text-black-60 dark:text-white-60 mb-4" id="#projekte">Meine Projekte</div>
    <ContentSlider id="projects"><>{projects.map(project => <CardProject project={project} />)}</></ContentSlider>

    <div class="text-xs text-black-60 dark:text-white-60 mb-4 mt-14">Meine Erfahrungen</div>
    <ContentSlider id="work"><>{work.map(job => <CardJob job={job} />)}</></ContentSlider>

    <div class="text-xs text-black-60 dark:text-white-60 mb-4 mt-14">Meine akademische Laufbahn</div>
    <ContentSlider id="aca"><>{academic.map(degree => <CardDegrer degree={degree} />)}</></ContentSlider>
</Layout>
