---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="text-black-100 dark:text-white-100 font-bold self-center pl-10 flex flex-col">
        <div class="text-lg">My site is under construction!</div>
    </div>
</Layout>
